{% extends 'gestion/base.html' %}
{% load static %}

{% block title %}{% block detail_title %}{% endblock %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h4 class="mb-0">
                {% block detail_icon %}{% endblock %}
                {% block detail_title_content %}{% endblock %}
            </h4>
            <div class="btn-group">
                <a href="{% block update_url %}{% endblock %}" class="btn btn-light" title="Modifier">
                    <i class="fas fa-edit"></i> Modifier
                </a>
                <a href="{% block delete_url %}{% endblock %}" class="btn btn-light text-danger" title="Supprimer">
                    <i class="fas fa-trash"></i> Supprimer
                </a>
            </div>
        </div>
        <div class="card-body">
            {% include 'gestion/shared/messages.html' %}
            
            <div class="row">
                <div class="col-md-8">
                    {% block detail_content %}{% endblock %}
                </div>
                <div class="col-md-4">
                    {% block detail_sidebar %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 